*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: serif;
    height: 100vh;
    background-color: #7c3af8;
}
.button{
    position: relative;
    padding: 15px 20px;
    font-size: 1.5rem;
    background-color: white;
    display: inline-block;
    text-decoration: none;
    color: #5c4800;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}
.button:hover{
    letter-spacing: 0.1rem;
}
#newsLetter{
    position: fixed;
    width: 450px;
    left: 50%;    
    top: -100%; 
    transform: translate(-50%,-50%); 
    background-color: white;
    z-index: 1000;
    padding: 80px 50px 50px;
transition: 0.5s;
border-radius: 4px;
visibility: hidden; 
}

#newsLetter.active{
visibility:visible;
top: 50%;
}

#newsLetter h2{
    text-align: center;
    color: #5c4800;
    font-size: 24px;
    margin: 20px 10px;
}

#newsLetter p{
    text-align: center;
    color: #5c4800;
}

#newsLetter .box{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
input , button{
    width: 100%;
    border: 1px solid black;
    outline: none;
    padding: 15px;
    font-size: 1rem;
    font-family: serif;
}
button{
    border: none;
    width: 150px;
    letter-spacing: 0.1rem;
    color: white;
    border-radius: 4px;
    cursor:pointer;
    background-color: #7c3af8;
}
.close{
    position: absolute;
    cursor: pointer;
    top:15px ;
    right: 20px; ;
}

